@model PCbuild_ASP.MVC_.Domain.Entities.CPU

<div class="item">
    <h3>@Model.Manufacture @Model.ProcessorNumber</h3>
    <p>Number Of Cores: @Model.NumberOfCores</p>
    <p>Number Of Threads: @Model.NumberOfThreads</p>
    <p>PBF: @Model.PBF</p>
    @using (Html.BeginForm("CPUAddToCompare", "Compare"))
    {
        @Html.HiddenFor(x=>x.CPUID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="Add to compare" class="btn btn-primary"/>
    }
</div>