@model PCbuilder_ASP.MVC_.Models.ViewModel.GPUViewModel

<div class="item">
    <h3>@Model.Manufacture @Model.Name</h3>
    <p>Memory speed: @Model.MemorySpeed</p>
    <p>Boost Clock: @Model.BoostClock</p>
    <p>AverageBench: @Model.AverageBench</p>
    @using (Html.BeginForm("GPUAddToCompare", "Compare"))
    {
        @Html.HiddenFor(x=>x.ProductGuid)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="Add to compare" class="btn btn-primary"/>
    }
</div>