@using PCbuilder_ASP.MVC_.Models.ViewModel
@model PCbuilder_ASP.MVC_.Models.CompareIndexViewModel<CPUViewModel>
@{
    ViewBag.Title = "CPU Compare";
}

<h2>CPU Compare</h2>

@if (Model != null)
{
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <td></td>
                @foreach (var item in Model.Comparison.CompareList.Select(x => x.ProductGuid))
                {
                    <td>
                        @using (Html.BeginForm("CPURemoveFromCompare", "Compare", FormMethod.Post))
                        {
                            @Html.HiddenFor(x => x.returnUrl)
                            @Html.Hidden("ProductGuid", item)
                            <input type="submit" value="Remove" class="btn btn-danger" />
                        }
                    </td>
                }
            </tr>
        </thead>
        <tr>
            <td><b>Manufacture</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.Manufacture))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>Name</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.ProcessorNumber))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>NumberOfCores</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.NumberOfCores))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>NumberOfThreads</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.NumberOfThreads))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>Cache</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.Cache))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>PBF</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.PBF))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>TDP</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.TDP))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>AverangeBench</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.AverageBench))
            {
                <td>@item</td>
            }
        </tr>
    </table>
</div>
}

<a href="@Model.returnUrl" class="btn btn-primary">Rerurn back</a>