@using PCbuild_ASP.MVC_.Models.ViewModel;
@model PCbuild_ASP.MVC_.Models.CompareIndexViewModel<GPUViewModel>
@{
    ViewBag.Title = "GPUCompare";
}

<h2>GPUCompare</h2>

@if (Model != null)
{
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <td></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.ProductGuid))
            {
                <td>
                    @using (Html.BeginForm("GPURemoveFromCompare", "Compare", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.returnUrl)
                        @Html.Hidden("GPUID", item)
                        <input type="submit" value="Remove" class="btn btn-danger"/>
                    }
                </td>
            }
        </tr>
        <tr>
            <td><b>Manufacture</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.Manufacture))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>Name</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x=>x.Name))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>Architecture</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.Architecture))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>BoostClock</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.BoostClock))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>FrameBuffer</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.FrameBuffer))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>MemorySpeed</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.MemorySpeed))
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            <td><b>AverageBench</b></td>
            @foreach (var item in Model.Comparison.CompareList.Select(x => x.AverageBench))
            {
                <td>@item</td>
            }
        </tr>
    </table>
</div>
}
<a href="@Model.returnUrl" class="btn btn-primary">Return back</a>