@model IEnumerable<PCbuilder_ASP.MVC_.Models.ViewModel.CPUViewModel>

@{
    ViewBag.Title = "CPUs Admin";
}

<h2>CPUs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessorNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfCores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfThreads)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PBF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cache)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageBench)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessorNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfCores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfThreads)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PBF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cache)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageBench)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductGuid }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.CPUID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductGuid })
        </td>
    </tr>
}

</table>
