@model PCbuild_ASP.MVC_.Models.Identity.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Register User</h4>
        @Html.ValidationSummary(false)
        <div>
            Email
            <div>
                @Html.ValidationMessageFor(x=>x.Email)
                @Html.EditorFor(x => x.Email)
            </div>
        </div>
        <div>
            UserName
            <div>
                @Html.ValidationMessageFor(x=>x.UserName)
                @Html.EditorFor(x=>x.UserName)
            </div>
        </div>
        <div>
            Year birthday
            <div>
                @Html.ValidationMessageFor(x=>x.Year)
                @Html.EditorFor(x => x.Year)
            </div>
        </div>

        <div>
            Password
            <div>
                @Html.ValidationMessageFor(x=>x.Password)
                @Html.EditorFor(x=>x.Password)
            </div>
        </div>

        <div>
            Cofirm password
            <div>
                @Html.ValidationMessageFor(x=>x.PasswordConfirm)
                @Html.EditorFor(x=>x.PasswordConfirm)
            </div>
        </div>
        <div>
            <div>
                <input type="submit" value="Register" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.intellisense.js"></script>