@model PCbuild_ASP.MVC_.Domain.Entities.Game
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Games", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.GameID);
    <div class="ro">Name:</div><div> @Html.EditorFor(x => x.Name);</div>
    <div>AverangeRequirements:</div><div> @Html.EditorFor(x => x.AverangeRequirements);</div>
    <div>Image(low)</div>
    <div>
        @if (Model.ImageData32 == null)
        {
            @:None
        }
        else
        {
            <img src="@Url.Action("GetImage", "Build", new {Model.GameID, big=false })" />
        }
    </div>
    <div>
        Upload new image:
        <input type="file" name="Image32" class="btn btn-primary"/>
    </div>
    <div>Image(high)</div>
    <div>
        @if (Model.ImageData64 == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImage", "Build", new { Model.GameID, big=true })" />
        }
    </div>
    <div>
        Upload new image:
        <input type="file" name="Image64" class="btn btn-primary"/>
    </div>
    <input type="submit" value="Save" class="btn btn-primary" />
    @Html.ActionLink("Back", "Index");
}
