@using PCbuild_ASP.MVC_.Models.Identity;
@model PCbuild_ASP.MVC_.Models.Identity.EditRoleModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="roleName" value="@Model.Name" />
    <div class="panel panel-primary">
        <div class="panel-heading">Add to role <b>@Model.Name</b></div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr>
                    <td colspan="2">All users in role</td>
                </tr>
            }
            else
            {
                <tr>
                    <td>User ID</td>
                    <td>Add to Role</td>
                </tr>
                foreach(ApplicationUser user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td><input type="checkbox" name="IdsToAdd" value="@user.Id" /></td>
                    </tr>
                }
            }

        </table>
    </div>

    <div class="panel panel-primary">
            <div class="panel-heading">Delete from role <b>@Model.Name</b></div>
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
            <tr>
                <td colspan="2">No users in the role</td>
            </tr>
            }
            else
            {
            <tr>
                <td>User ID</td>
                <td>Delete from Role</td>
            </tr>
                foreach (ApplicationUser user in Model.Members)
                {
                <tr>
                    <td>@user.UserName</td>
                    <td><input type="checkbox" name="IdsToDelete" value="@user.Id" /> </td>
                </tr> 
                }
            }
        </table>
    </div>

    <div>
        @Html.ValidationSummary(true,"")
        @Html.HiddenFor(x=>x.Id)
        <p>Name: @Html.EditorFor(x=>x.Name)</p>
        <p>Discription: @Html.EditorFor(x=>x.Description)</p>
        
        <p><input type="submit" value="Confirm" class="btn btn-default" /></p>
        @Html.ActionLink("Cancel", "Index",null,new { @class="btn btn-default"})
    </div>
}