@using PCbuilder_ASP.MVC_.HtmlHelpers;
@using PCbuilder_ASP.MVC_.Models.Identity;

@model IEnumerable<PCbuilder_ASP.MVC_.Models.Identity.ApplicationRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @Html.ActionLink("Create new","Create")
</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Discription</th>
        <th>Users</th>
        <th></th>
    </tr>
    @if (Model == null || Model.Count() == 0)
    {
        <tr>
            <td colspan="4">No roles</td>
        </tr>
    }
    else
    {
        foreach (ApplicationRole item in Model.ToList())
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@if (item.Users == null || item.Users.Count == 0)
            {
                @: No users in the role
            }
            else
            {
                <p>@string.Join(", ", item.Users.Select(x => Html.GetUserName(x.UserId)))</p>
            }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    }
</table>